@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<_2021_2c_Clase_3_MVC.Servicios.Zodiaco.Signo>
@{
}

<h2 class="text-center mb-4">@ViewBag?.ErrorAlEliminarSigno</h2>
<h2 class="text-center mb-4">@ViewBag?.SignoEliminado</h2>

<ul class="col-3">
    @foreach (var signo in Model)
    {
        <li class="mb-2 d-flex justify-content-between">
            <a href="@signo.Url">@signo.Nombre</a>
            <a class="btn btn-sm btn-danger ml-3" href="/zodiaco/eliminar/@signo.Id">Eliminar</a>
        </li>
    }
</ul>


